<div class="  bg-blue-400 w-full h-screen flex flex-col justify-normal items-center p-8">
    <div  class=" relative  bg-[#bef264] w-11/12 h-60  rounded-lg  flex flex-row justify-normal">
        <div class=" w-3/5 flex justify-center" >
            <h1 class="text-3xl p-20 font-bold text-gray-700">Birth Rate of U.S. Counties</h1>
        </div>
        <div class="  w-2/5 flex justify-end">
            <img
            class=" w-48 h-32 md:w-full md:h-72 "
            src="./../../../assets/img/natalidad.png"
            alt=""
          />
        </div>
    </div>
    <div class="  absolute mt-40 mr-20  w-1/2 h-32 bg-slate-300  rounded-lg pt-8">
        <h1>hola</h1>
        
<select disabled id="countries_disabled" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option selected>Choose a country</option>
  <option value="US">United States</option>
  <option value="CA">Canada</option>
  <option value="FR">France</option>
  <option value="DE">Germany</option>
</select>

    </div>
</div>