<div class="  w-full h-screen flex flex-col justify-normal items-center p-8">
    <div  class=" relative  bg-[#bef264] w-11/12 h-60  rounded-lg  flex flex-row justify-normal">
        <div class=" w-3/5 flex justify-center" >
            <h1 class="text-3xl p-20 font-bold text-gray-700">Birth Rate of U.S. Counties</h1>
        </div>
        <div class="  w-2/5 flex justify-end">
            <img
            class=" w-48 h-32 md:w-full md:h-72 "
            src="./../../../assets/img/natalidad.png"
            alt=""
          />
        </div>
    </div>
 

    

<div class=" flex flex-row justify-center bg-white border border-gray-200  shadow absolute mt-44 w-1/2 h-32   rounded-lg pt-8">
    <select id="states" class="w-3/5 h-10 bg-white border border-slate-200 text-gray-900 text-sm rounded-lg   border-s-2 focus:ring-blue-500 focus:border-blue-500 block  p-2.5 ">
        <option selected>Choose a state</option>
        <option value="CA">California</option>
        <option value="TX">Texas</option>
        <option value="WH">Washinghton</option>
        <option value="FL">Florida</option>
        <option value="VG">Virginia</option>
        <option value="GE">Georgia</option>
        <option value="MI">Michigan</option>
    </select>
    <div class="">

        <button type="button" class="focus:outline-none font-bold text-gray-700 bg-[#bef264] hover:bg-[#d9f99d] focus:ring-4 focus:bg-[#d9f99d]  rounded-lg text-sm px-5 w-40 h-10 ">Green</button>
    </div>
    

</div>



<div class="relative mt-44 w-11/12 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-700">
        <thead class="text-xs text-gray-700 uppercase bg-[#a3e635] border-b border-bg-[#bef264]">
            <tr>
                <th scope="col" class="px-6 py-3 bg-[#bef264]">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3 bg-[#bef264]">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3 bg-[#bef264]">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-[#a3e635] border-b border-bg-[#bef264]">
                <th scope="row" class="px-6 py-4 font-medium bg-[#bef264] text-gray-700 whitespace-nowrap ">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4 bg-[#bef264]">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
                <td class="px-6 py-4 bg-[#bef264]">
                    <a href="#" class="font-medium text-gray-700 hover:underline">Guardar</a>
                    <a href="#" class="font-medium ml-6 text-gray-700 hover:underline">Grafica</a>
                </td>
            </tr>
           
         
        </tbody>
    </table>
</div>


</div>